body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #85a0d8;
  margin: 0 auto;
  height: 50px;
}

header h2 {
  padding: 10px;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

div.card {
  background-color: #eeeeee;
  height: 250px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 10px;
}

p, #my-characters, #message {
  font-size: 0.8em;
  color: black;
  font-family: Helvetica;
}

li {
  font-size: 0.8em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: .65em;
  color: rgb(212, 220, 224);
  background-color: rgb(113, 141, 194);
  border-radius: 10px;
}

button:hover {
  background-color: #7e95d4;
} 

button.release {
  float: right;
  background-color: #E1332D;
}



@media only screen and (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* For wow project */
a {
  color: turquoise;
}

input {
  font-size: 0.9em;
}

.container {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
}

ul {
  padding-left: 20px;
}

.delete-character-link {
  color: red;
}

#editable {
  border: 1px solid black;
  padding: 20 px;
}


/* input[type=submit]:hover {
  background-color: #45a049;
} */

input[type=submit] {
  font-size: .65em;
  /* color: rgb(212, 220, 224); */
  /* background-color: rgb(38, 150, 53); */
  border-radius: 10px;
 }

 input[type="text"] {
  width: 150px;
  height: 20px;
}

#character-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}