body {
  margin: 0;
  padding: 0;
  background-image: url('src/images/wow2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

header {
  margin: 0 auto;
  height: 50px;
}

header h2 {
  color: rgb(218, 223, 217);
  padding: 10px;
  margin: 0;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

p, #my-characters, #message {
  font-size: 0.8em;
  color: black;
  font-family: Helvetica;
  color: rgb(188, 212, 228);
}

li {
  font-size: 0.8em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: .65em;
  color: rgb(210, 212, 69);
  background-color: rgb(155, 17, 17);
  border-radius: 10px;
}

button:hover {
  color: rgb(188, 212, 228);
  /* background-color: #0b6164; */
} 

input {
  font-size: 0.9em;
}

.container {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
}

ul {
  padding-left: 20px;
}

input[type=submit] {
  font-size: .65em;
  border-radius: 10px; */
 }

input[type="text"] {
  width: 150px;
  height: 20px;
}

